<lcu-lowcodeunit-manage-element
  *ngIf="State"
  [dashboard]="State.Dashboard"
  [devices]="State.Devices"
  [emulated]="State.Emulated"
  [loading]="State.Loading"
  [storage]="State.Storage"
  [telemetry]="State.Telemetry"
  (enroll-device)="EnrollDevice($event)"
  (issued-device-sas-token)="IssueDeviceSASToken($event)"
  (refreshed)="Refresh($event)"
  (revoke-device-enrollment)="RevokeDeviceEnrollment($event)"
  (regenerated-api-key)="RegenerateAPIKey($event)"
  (sent-device-message)="SendDeviceMessage($event)"
  (toggle-device-telemetry-enabled)="ToggleTelemetryEnabled()"
  (toggle-emulated-enabled)="ToggleEmulatedEnabled()"
  (update-device-table-page-size)="UpdateDeviceTablePageSize($event)"
  (update-page-size)="UpdatePageSize($event)"
  (update-refresh-rate)="UpdateRefreshRate($event)"
></lcu-lowcodeunit-manage-element>
<!--
<div>
  <a mat-raised-button color="accent" (click)="WarmQuery()">Warm Query</a>
  <a mat-raised-button color="accent" (click)="ColdQuery()">Cold Query</a>
</div> -->
