:host ::ng-deep {
  .page {
    // height: 100%;

    .header {
      height: 64px;
    }

    .drawers {
      // min-height: calc(100% - 64px - 64px);

      .nav-drawer,
      .details-drawer {
        width: 300px;

        .content {
        }
      }

      .nav-drawer {
      }

      .details-drawer {
        .close {
          float: right;
        }
      }

      .page-content {
        // margin: 2em;
      }
    }

    .footer {
      height: 64px;
    }
  }
}
