<div fxFlexFill fxLayout="column">
  <lcu-header
    class="header"
    [show-menu]="IsMobile"
    (menu-click)="HeaderMenuClicked($event)">
  </lcu-header>

  <!-- <mat-drawer-container class="drawers" [hasBackdrop]="IsMobile"> -->
    <!-- <mat-drawer class="nav-drawer" [mode]="NavDrawerMode" #navDrawer>
      nav drawer
    </mat-drawer>

    <mat-drawer
      class="details-drawer"
      #detailsDrawer
      [opened]="State.Drawers?.DetailsActive"
      mode="over"
      position="end"
    >
      <div class="content spread">
        <button mat-icon-button class="close" (click)="CloseDetailsDrawer()">
          <mat-icon>close</mat-icon>
        </button>

        <h2>Welcome to IoT Ensemble</h2>

        <p>You can use this dashboard to get your data flowing.</p>
      </div>
    </mat-drawer> -->

    <div class="margin-2">
      <router-outlet></router-outlet>
    </div>
  <!-- </mat-drawer-container> -->

  <lcu-footer class="footer"></lcu-footer>
</div>
